{% extends "base.html" %}

{% block owner %}
<a class="btn btn-default" href="/update/{{db.owner.username}}/{{db.name}}/"><i class="fa fa-fw fa-refresh"></i>Update Database</a>
<a class="btn btn-danger" href="/delete/{{db.owner.username}}/{{db.name}}/"><i class="fa fa-fw fa-trash"></i>Delete Database</a>
{% endblock owner %}


{%block content%}
<div class="container">
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
	        <ul class="nav navbar-nav">
	          <li><a href="/data/{{db.owner}}/{{db}}/apidoc"><i class="fa fa-fw fa-file-text"></i>API</a></li>
	        </ul>
	    </div><!-- /.container-fluid -->
  	</nav>
	{% for model in db.models.all %}
	{%if model.internal%}{%else%}
	<div class="panel panel-default">
		<div class="panel-heading"><a href="/data/{{db.owner.username}}/{{db.name}}/{{model}}">{{model}}</a></div>
		<div class="panel-body">
			<ul>
			{% for field in model.fields.all %}
				<li><i class="fa fa-fw fa-{%if field.geo%}globe{%else%}{%endif%}"></i>{{field}}</li>
			{% endfor %}
			</ul>
		</div>

	</div>
	{% endif %}
	{% endfor %}

</div>
{%endblock content%}