{% extends "base.html" %}

{% block owner %}
<a class="btn btn-default" href="/update/{{db.owner.username}}/{{db.name}}/">Update Database</a>
{% endblock owner %}


{%block content%}
<div class="container">
	{% for model in db.models.all %}
	<div class="panel">
		<div class="panel-heading"><a href="/data/{{db.owner.username}}/{{db.name}}/{{model}}">{{model}}</a></div>
		<div class="panel-body">
			<ul>
			{% for field in model.fields.all %}
				<li>{{field}}</li>
			{% endfor %}
			</ul>
		</div>

	</div>
	
	{% endfor %}

</div>
{%endblock content%}