{% extends "base.html" %}

{% block owner %}
<a class="btn btn-default" href="/add">Add Database</a>
{% endblock owner %}

{%block content%}
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/api/{{table.dataspace.owner}}/{{table.dataspace}}/{{table}}" target="_blank"><i class="fa fa-fw fa-code"></i>API</a></li>
        </ul>
    </div><!-- /.container-fluid -->
  </nav>
	<table class="table"><tr>
	{% for field in table.fields.all %}
		<th>{{field.name}}</th>
	{% endfor %}
	</tr>
	{% for row in rows %}
	<tr>
		{% for field in row %}
		<td>{{field}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
	<nav>
  <ul class="pagination">
    <li>
      <a href="?p={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page in pages %}
    <li><a href="?p={{page}}">{{page}}</a></li>
    {% endfor %}
    <li>
      <a href="?p={{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
{%endblock content%}