{% extends "base.html" %}

{% block owner %}
<a class="btn btn-default" href="/add">Add Database</a>
{% endblock owner %}

{%block content%}
<div class="container">
	{% for dataspace in the_user.dataspaces.all %}
	<div class="col-xs-4">
		<div class="panel">
			<div class="panel-heading"><h3><i class="fa fa-fw fa-{%if dataspace.geo%}globe{%else%}database{%endif%}"></i>{{dataspace.name}}</h3></div>
			<div class="panel-body">
				<a href="/data/{{the_user}}/{{dataspace.name}}"><i class="fa fa-fw fa-link"></i> {{dataspace}}</a>
			</div>
			<div class="panel-footer"><span title="Tabelle"><i class="fa fa-fw fa-table"></i> {{dataspace.models.count}}</span></div>
		</div>
	</div>
	{% endfor %}

</div>
{%endblock content%}